.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, max-content);
  column-gap: 12px;
  background-color: #f54932;
  color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  z-index: 1;
}

.slogan {
  display: flex;
  justify-self: center;
  align-items: center;
  color: #ffffff;
  flex-wrap: nowrap;
  font-size: 22px;
  line-height: 110%;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.dot {
  width: 6px;
  height: 6px;
}

@media all and (max-width: 900px) {
  .content {
    padding: 10px 0;
  }

  .slogan {
    font-size: 16px;    
  }
}