.content {
  padding: 0 72px 140px;
  overflow: hidden;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.navigation_top {
  display: block;
}

.navigation_bottom {
  display: none;
}

.title {
  font-size: 54px;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.players {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  will-change: transform;
}

.playerItem {
  flex-shrink: 0;  
}

@media all and (min-width: 1301px) {
  .playerItem {
    width: calc((100% - 40px) / 3);
  }
}

@media all and (max-width: 1300px) and (min-width: 901px) {
  .playerItem {
    width: calc((100% - 20px) / 2);
  }
}

@media all and (max-width: 900px) {
  .content {
    padding: 0 20px 93px;
  }

  .title {
    font-size: 36px;
  }

  .navigation {
    margin-bottom: 40px;
  }

  .navigation_top {
    display: none;
  }

  .navigation_bottom {
    display: flex;
    justify-content: center;
  }
  
  .playerItem {
    width: 100%;
  }
}