.button {
  border: none;
  background-color: #313131;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  border: none;
  background-color: #fbce51;
}

.arrow {
  transform: rotate(180deg);
  width: 9px;
  height: 16px;
}

.disabled {
  background-color: #d6d6d6;
  pointer-events: none;
}

@media all and (max-width: 900px) {
  .button {
    width: 36px;
    height: 36px;
  }
}
