.content {
  margin: 0 72px 200px;
}

.title {
  width: 100%;
  font-size: 54px;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.title_block {
  display: grid;
  grid-template-columns: auto 290px;
  column-gap: 20px;
  align-items: center;
  justify-content: left;
  margin-bottom: 50px;
}

.remark {
  color: #3057a2;
  font-family: "Golos Text";
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.plain_mobile {
  display: none;
}

@media all and (max-width: 900px) {
  .content {
    margin: 0 20px 120px;
  }

  .title {
    font-size: 36px;
    line-height: 110%;
  }

  .remark {
    font-size: 18px;
  }

  .title_block {
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin-bottom: 0;
  }

  .plain_mobile {
    display: block;
    width: 102%;
    transform: translatey(40px) rotate(-18deg);
    z-index: 1;
  }
}
