.button {
  border: none;
  background-color: #D9D9D9;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  border: none;
  background-color: #fbce51;
}

.disabled {
  background-color: #313131;
  pointer-events: none;
}
