.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-areas:
    " area_1 area_2 area_3 "
    " area_4 area_5 area_3 "
    " area_6 area_7 area_7 ";
}

.area_1 {
  grid-area: area_1;
  position: relative;
}

.area_2 {
  grid-area: area_2;
}

.area_3 {
  grid-area: area_3;
}

.area_4 {
  grid-area: area_4;
}

.area_5 {
  grid-area: area_5;
}

.area_6 {
  grid-area: area_6;
}

.area_7 {
  grid-area: area_7;
  position: relative;
}

.plain_decktop {
  position: absolute;
  bottom: 50px;
  right: -50px;
  transform: rotate(-15deg);
}

.plain_mobile {
  display: none;
}

.mobile_list {
  display: none;
}

.mobile_item {
  position: relative;
  display: grid;
  align-content: baseline;
  row-gap: 28px;
  background-color: #d9d9d9;
  justify-content: center;
  padding: 66px 19px 0;
}

.background1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../images/paper.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 80%;
}

.background2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 20%;
}

@media all and (max-width: 1400px) {
  .plain_decktop {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .plain_mobile {
    display: block;
  }

  .list {
    display: none;
  }

  .mobile_list {
    display: grid;
    grid-template-rows: 300px auto;
    row-gap: 28px;
  }
}
