.content {
  position: relative;
  display: grid;
  row-gap: 63px;
  padding: 54px 350px 200px;
}

.main_text {
  width: 100%;
  font-size: 36px;
  line-height: 135%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;  
}

.main_text_two{
  margin: 0;
}

.ches_one {
  display: grid;
  grid-template-columns: 1fr 395px;
  column-gap: 70px;  
  align-items: center;
}

.ches_image_one{
  width: 100%;
}

.ches_two {
  display: grid;
  grid-template-columns: 474px 1fr;
  column-gap: 44px;
}

.ches_image_two{
  transform: translate(-25px, -50px);
}

.red {
  color: #f54932;
  font-weight: 600;
}

.remark {
  color: #3057A2;
  font-family: 'Golos Text';
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  margin: 44px 0 0;
  padding: 0;
}


@media all and (max-width: 1900px) {
  .content {
    padding: 80px 70px 125px;
  }
}

@media all and (max-width: 1290px) {
  .content {
    padding: 50px 4px 80px;
  }
 
}

@media all and (max-width: 900px) {
  .content {
    padding: 50px 0 120px;
    row-gap: 17px;
  }

  .main_text {   
    font-size: 28px;
    display: block;    
  }

  .main_text_two {   
    margin: 0 20px;  
  }

  .ches_one {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr;    
    row-gap: 25px;  
    align-items: center;
  }
  
  .ches_two {    
    display: flex;
    flex-direction: column;    
    margin: 0;
  }

  .ches_image_two {
    transform: translate(0, 0);
    width: 100%;
    margin-bottom: 15px;
  }
  
  .remark {
    margin-top: 20px;   
    font-size: 18px;
  }
  

  
}

