.header {
  display: flex;
  justify-content: flex-start;  
  padding: 26px 0 0 350px;
  background-color: #E6DBCF;
}

.logo {
  position: relative;
  width: 245px;
  height: 36px;
  z-index: 1;
}

@media all and (max-width: 1900px) {
  .header {
    padding:  26px 0 0 70px;
  }
}

@media all and (max-width: 1300px) {
  .header {
    padding:  26px 0 0 50px;
  }
}

@media all and (max-width: 900px) {
  .header {
    padding:  26px 0 0 50px;
  }
}